<script>
import Button from "../components/Button.svelte";
import Label from "../components/Label.svelte";
import Spacer from "../components/Spacer.svelte";
import { players, pass, newGame } from "../store";
</script>
<div class="container">
<div>Пароль</div>
<Spacer/>
 <Label>{$pass}</Label>
 <Spacer size={32}/>
{#each $players as player, i}
  <div>Игрок {i+1}: <b>{player==='agent'?'агент':'житель'}</div>
  <Spacer/>
{/each}
</div>

<Button on:click={newGame}>Играть еще</Button>

<style>
  .container {
    width: 100%;
    text-align: center;
    flex-grow: 1;
  }
</style>