<script>
  import Button from "../components/Button.svelte";
  import Label from "../components/Label.svelte";
  import Spacer from "../components/Spacer.svelte";
  import User from "../assets/User.svelte";
  import { activePlayerIndex, players, nextPlayer, pass } from "../store";
  let isPassHidden = true;
  const showPass = () => (isPassHidden = false);
  const ok = () => {
    isPassHidden = true;
    nextPlayer();
  };
</script>
<div class="player">
  <User/>
  <div class="number">{$activePlayerIndex+1}</div>
  <div class="playerDescription">Игрок </div>
</div>
<div class='content'>
{#if !isPassHidden}
  <div class="title">Вы</div>
  <Label>{$players[$activePlayerIndex]==='agent' ? 'агент': 'житель'}</Label>
  <Spacer size={42}/>
  <div class="title">Пароль</div>
  <Label>{$players[$activePlayerIndex]==='agent' ? $pass : '--------'}</Label>
{/if}
</div>
{#if isPassHidden}
<Button on:click={showPass}>Показать пароль</Button>
{:else}
<Button on:click={ok}>Понятно</Button>
{/if}

<style>
  .title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    color: #607f8d;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
  }

  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .player {
    min-width: 160px;
    min-height: 160px;
    width: 160px;
    height: 160px;
    position: relative;
  }
  .number {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 900;
    color: #adcbd9;
  }
  .playerDescription {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 5px;
    text-align: center;
    color: #567786;
  }
</style>