<script>
  import Spacer from "../components/Spacer.svelte";
  import { playerCount, startGame, time } from "../store";
  import Button from "../components/Button.svelte";
</script>
<div class='container'>

Сколько человек будет играть?
<Spacer/>
<div>Игроков: {$playerCount}</div>
<div>Агентов: {Math.ceil($playerCount*0.3)}</div>
<Spacer/>
<input type="range" min="4" max="20" bind:value={$playerCount} class="slider"/>

<Spacer />
<div>Время иры {$time} мин.</div>
<Spacer />
<input type="range" min="4" max="20" bind:value={$time} class="slider"/>
</div>

<Button on:click={startGame}>Ок, погнали</Button>

<style>
  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .slider {
    
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #ff5722;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff5722;
  cursor: pointer;
}
</style>