<script>
  import Button from "../components/Button.svelte";
  import Label from "../components/Label.svelte";
  import Spacer from "../components/Spacer.svelte";
  import { time, endGame } from "../store";
  import { onMount } from "svelte";
  let timer;
  let timerId;
  const countDown = () => {
    timer -= 1;
    if (timer === 0) endGame();
    timerId = setTimeout(countDown, 1000);
  };
  onMount(() => {
    timer = $time * 60;
    timerId = countDown();
    return () => {
      clearTimeout(timerId);
    };
  });
  $: minutes = `${Math.floor(timer / 60)}`.padStart(2, "0");
  $: seconds = `${timer - minutes * 60}`.padStart(2, "0");
</script>
<div class="container">
Таймер
<Spacer/>
<Label>{minutes}:{seconds}</Label>
</div>
<Button on:click={endGame}>Закончить</Button>

<style>
  .container {
    flex-grow: 1;
    width: 100%;
    text-align: center;
  }
</style>
