<button on:click>
	<slot /></button>

<style>
  button {
    background: none;
    padding: 14px;
    width: 100%;
    border-radius: 32.5px;
    border: solid 2px #ffffff;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
  }
</style>