<div class='label'>
	<slot />
</div>

<style>
  .label {
    padding: 8px;
    border-radius: 32.5px;
    border: solid 5px #9b7a14;
    background-color: #cca321;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #020102;
    width: 100%;
    box-sizing: border-box;
    text-transform: uppercase;
  }
</style>