<svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" viewBox="0 0 160 160">
	<g fill="none" fill-rule="evenodd" opacity=".142">
		<g fill="#fff" fill-rule="nonzero">
			<path d="M188.5 159c22.332 0 40.5 18.1 40.5 40.35 0 1.287-.063 2.558-.183 3.815C216.714 210.23 202.899 214 188.5 214c-14.4 0-28.214-3.77-40.317-10.835-.12-1.256-.183-2.528-.183-3.816C148 177.101 166.168 159 188.5 159zM188 54c21.37 0 41.459 8.345 56.569 23.497S268 112.795 268 134.224c0 21.429-8.322 41.575-23.431 56.728-2.151 2.157-4.407 4.171-6.75 6.048-1.048-19.699-13.512-36.407-30.86-43.58 9.536-6.235 15.853-17.023 15.853-29.265 0-19.25-15.616-34.91-34.812-34.91-19.196 0-34.812 15.66-34.812 34.91 0 12.242 6.317 23.03 15.853 29.265-17.348 7.173-29.812 23.881-30.86 43.58-2.343-1.877-4.599-3.89-6.75-6.048-15.11-15.153-23.431-35.3-23.431-56.728 0-21.43 8.322-41.575 23.431-56.727C146.541 62.345 166.631 54 188 54zm.5 44c14.06 0 25.5 11.438 25.5 25.5 0 14.06-11.44 25.5-25.5 25.5S163 137.56 163 123.5 174.44 98 188.5 98z"
			 transform="translate(-108 -54)" />
		</g>
	</g>
</svg>