<script>
import { view } from "./store";
import views from "./views";
</script>
<div class="container">
  <div class='wrapper'>
  <svelte:component this={views[$view]}/>
  </div>
</div>

<style>
  .container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: radial-gradient(circle at 50% 0, #25242b, #000000 96%);
    color: #607f8d;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    box-sizing: border-box;
  }
  .wrapper {
    max-width: 600px;
    padding: 36px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
  }
</style>